---
layout: default
---

{{ content }}

<ul>
{% for snippet_title in page.snippet_titles %}
  {% for snippet in site.snippets %}
    {% if snippet.title == snippet_title %}
      <li><a href="#{{ snippet.title }}">{{ snippet.title }}</a></li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>


{% for snippet_title in page.snippet_titles %}
  {% for snippet in site.snippets %}
    {% if snippet.title == snippet_title %}

<section>
  <h3>{{ snippet.title }}</h3>

  {{ snippet.content }}
  
</section>

    {% endif %}
  {% endfor %}
{% endfor %}
