---
layout: default
---
snippetlist

fart:{{ page.fart }}:

snippets:{% for snippet in page.snippets %}{{ snippet }},{% endfor %}:

{{ content }}

<ul>
{% for allpage in site.pages %}
  {% for snippet in page.snippets %}
    {% if allpagepage.title == snippet %}
      <li><a href="#{{ allpage.title }}">{{ allpage.title }}</a></li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>


{% for allpage in site.pages %}
  {% for snippet in page.snippets %}
    {% if allpage.title == page.snippet %}
{{ allpage.content }}
    {% endif %}
  {% endfor %}
{% endfor %}
